<form method="POST" action="/students">

  <label for="first_name">First name</label>
  <input type="text" name="first_name" id="first_name"/>

  <label for="last_name">First name</label>
  <input type="text" name="last_name" id="last_name"/>

  <label for="house_select">Select a house</label>
  <select name="house">
    <% for house in @houses %>
    <option value="<%= house.name %>"><%=house.name%></option>
    <% end %>
  </select>

  <label for="age">Age</label>
  <input type="number" name="age" id="age"/>

  <input type="submit" value="Create Student"/>

</form>
